@media (max-width: 426px) {
  .text-position-1 {
    top: 30%;
    position: absolute;
  }
  .text-position-2 {
    top: 70%;
    position: absolute;
  }

  .carousel-text h1 {
    font-size: 45px;
    color: white;
  }
  #swiper-slider-section .swiper-slide {
    width: 100%;
  }

  .toggle-wrapper {
    top: 20px;
  }

  #navbar-section {
    padding: 10px 0;
  }

  #navbar-section .nav-logo {
    height: 80px;
  }

  .navigation ul {
    font-size: 2em;
  }
  #events-section .my-atropos.atropos-rotate-touch {
    touch-action: auto;
  }
  #contact-us-section .form-wrapper {
    width: 100%;
  }
}

@media (max-width: 320px) {
  #events-section .event-wrapper,
  #events-section .my-atropos {
    width: 280px;
  }
}
