* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  background-color: #000;
  transition: 200ms ease-in-out;
}

.light {
  background-color: transparent;
  transition: 200ms ease-in-out;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: rgb(17, 16, 16);
}

#whatsapp-logo {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 999999;
}

#whatsapp-logo img {
  width: 70px;
}

.carousel-item {
  position: relative;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel-text h1 {
  color: #fff;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  text-shadow: 2px 4px black;
  font-weight: bold;
}

#navbar-section {
  position: fixed;
  padding: 10px 0;
  z-index: 999999;
  width: 100%;
  overflow-x: hidden;
}

#navbar-section .nav-logo {
  width: auto;
  margin-left: 20px;
  transition: 200ms ease-in-out;
  height: 100px;
}

#navbar-section .nav-logo-normal {
  height: 100px;
}

#navbar-section .nav-logo-scroll {
  height: 70px;
}

.toggle-wrapper {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  background-color: #000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 0.08);
  border-radius: 10px;
  overflow: hidden;
  z-index: 999999;
  transition: 200ms ease-in-out;
}

.toggle-wrapper-normal {
  top: 40px;
}

.toggle-wrapper-scroll {
  top: 25px;
}

.toggle {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toggle span {
  position: absolute;
  width: 30px;
  height: 3px;
  background: #d09a28;
  border-radius: 4px;
  transition: 0.5s;
}

.toggle span:nth-child(1) {
  transform: translateY(-15px);
  width: 25px;
  left: 10px;
}

.toggle.active span:nth-child(1) {
  width: 30px;
  transform: translateY(0px) rotate(45deg);
  transition-delay: 0.125s;
}

.toggle span:nth-child(2) {
  transform: translateY(15px);
  width: 15px;
  left: 10px;
}

.toggle.active span:nth-child(2) {
  width: 30px;
  transform: translateY(0px) rotate(315deg);
  transition-delay: 0.25s;
}

.toggle.active span:nth-child(3) {
  transform: translateX(60px);
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.navigation.active {
  visibility: visible;
}

.navigation span {
  position: absolute;
  top: -100%;
  left: calc(25% * var(--i));
  width: 25%;
  /* background-color: #000; */
  height: 100%;
  transition: 0.25s;
  border: 1px solid rgba(0, 0, 0, 0.25);
  transition-delay: calc(0.25s * var(--i));
}

.navigation span:first-child,
.navigation span:nth-child(2),
.navigation span:nth-child(3),
.navigation span:nth-child(4) {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.5);
}

.navigation span:first-child {
  background-image: url("../images/nav-img-1.jpeg");
}

.navigation span:nth-child(2) {
  background-image: url("../images/nav-img-2.jpeg");
}

.navigation span:nth-child(3) {
  background-image: url("../images/nav-img-3.jpeg");
}

.navigation span:nth-child(4) {
  background-image: url("../images/nav-img-4.jpeg");
}

.navigation.active span {
  top: 0;
}

.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  transform: translateX(-100px);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transition-delay: 0s;
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}

.navigation.active ul {
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
  transition-delay: 0.75s;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  text-decoration: none;
  color: #fff;
}

.navigation.active ul li a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
}

.navigation.active ul li a:hover {
  background-color: #fff;
  color: #000;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  height: 100vh;
  object-fit: cover;
}

#events-section {
  min-height: 50vh;
  padding-bottom: 50px;
  background-color: #272726;
}

h2 {
  color: #d09a28;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  padding: 30px 0;
  font-family: "Playfair Display", serif;
  text-shadow: 2px 4px black;
}

#events-section .my-atropos,
#events-section .event-wrapper {
  width: 320px;
  height: 300px;
  margin: auto;
}

#events-section .wedding-event,
#events-section .pre-wedding-event,
#events-section .engagement-event,
#events-section .mehendi-event {
  background-size: cover;
  background-repeat: no-repeat;
}

#events-section .wedding-event {
  background-image: url("../images/couples/simrandeep&mehak/4T5A4000.jpg");
  background-position: top;
}

#events-section .pre-wedding-event {
  background-image: url("../images/couples/komal&prashant/558A8756-2.jpg");
  background-position: center;
}

#events-section .engagement-event {
  background-image: url("../images/couples/simrandeep&mehak/6O2A2589-2.jpg");
  background-position: center;
}

#events-section .mehendi-event {
  background-image: url("../images/couples/simrandeep&mehak/558A3136.jpg");
  background-position: center;
}

#events-section .events-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.575);
}

#swiper-card-section {
  background-color: #000;
  min-height: 70vh;
  overflow-x: hidden;
}

#swiper-card-section .swiper {
  width: 240px;
  height: 320px;
  margin: 50px auto;
}

#swiper-card-section .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

#swiper-card-section .komal-prashant .swiper-slide:nth-child(1n) {
  background-image: url("../images/couples/komal&prashant/4T5A2739.jpg");
  background-position: center;
  background-size: cover;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

#swiper-card-section .komal-prashant .swiper-slide:nth-child(2n) {
  background-image: url("../images/couples/komal&prashant/4T5A3075.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .komal-prashant .swiper-slide:nth-child(3n) {
  background-image: url("../images/couples/komal&prashant/558A8551.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .komal-prashant .swiper-slide:nth-child(4n) {
  background-image: url("../images/couples/komal&prashant/558A8566.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .komal-prashant .swiper-slide:nth-child(5n) {
  background-image: url("../images/couples/komal&prashant/558A8756-2.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .komal-prashant .swiper-slide:nth-child(6n) {
  background-image: url("../images/couples/komal&prashant/558A8758-2.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .komal-prashant .swiper-slide:nth-child(7n) {
  background-image: url("../images/couples/komal&prashant/4T5A2446.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .komal-prashant .swiper-slide:nth-child(8n) {
  background-image: url("../images/couples/komal&prashant/4T5A2775.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .komal-prashant .swiper-slide:nth-child(9n) {
  background-image: url("../images/couples/komal&prashant/4T5A3199.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .komal-prashant .swiper-slide:nth-child(10n) {
  background-image: url("../images/couples/komal&prashant/4T5A2481.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .simrandeep-mehak .swiper-slide:nth-child(1n) {
  background-image: url("../images/couples/simrandeep&mehak/4T5A4003.jpg");
  background-position: center;
  background-size: cover;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

#swiper-card-section .simrandeep-mehak .swiper-slide:nth-child(2n) {
  background-image: url("../images/couples/simrandeep&mehak/4T5A4000.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .simrandeep-mehak .swiper-slide:nth-child(3n) {
  background-image: url("../images/couples/simrandeep&mehak/4T5A3857.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .simrandeep-mehak .swiper-slide:nth-child(4n) {
  background-image: url("../images/couples/simrandeep&mehak/4T5A3515.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .simrandeep-mehak .swiper-slide:nth-child(5n) {
  background-image: url("../images/couples/simrandeep&mehak/6O2A2608.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .simrandeep-mehak .swiper-slide:nth-child(6n) {
  background-image: url("../images/couples/simrandeep&mehak/6O2A2299-2.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .simrandeep-mehak .swiper-slide:nth-child(7n) {
  background-image: url("../images/couples/simrandeep&mehak/558A2035.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .simrandeep-mehak .swiper-slide:nth-child(8n) {
  background-image: url("../images/couples/simrandeep&mehak/558A2627.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .simrandeep-mehak .swiper-slide:nth-child(9n) {
  background-image: url("../images/couples/simrandeep&mehak/558A3136.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-card-section .simrandeep-mehak .swiper-slide:nth-child(10n) {
  background-image: url("../images/couples/simrandeep&mehak/6O2A2589-2.jpg");
  background-position: center;
  background-size: cover;
}

#swiper-slider-section {
  min-height: 80vh;
  overflow: hidden;
  background-color: #272726;
}

#swiper-slider-section .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
}

#swiper-slider-section .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 550px;
  height: 300px;
}

#swiper-slider-section .swiper-slide .youtube-video {
  width: 100%;
  height: 100%;
}

#swiper-slider-section .swiper-slide img {
  display: block;
  width: 100%;
}

.fa-arrow-left-long,
.fa-arrow-right-long {
  font-size: 40px;
  color: #d09a28;
}

.navigation-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#testimonial-section {
  background-color: #000;
  color: #fff;
}

#testimonial-section .testimonial {
  font-family: "Lato", sans-serif;
  text-align: center;
}

#testimonial-section .testimonial p {
  letter-spacing: 0.8px;
}

#testimonial-section .testimonial h5 {
  color: #d09a28;
}

.slick-dots li.slick-active button:before {
  color: #d09a28;
  opacity: 1;
}

.slick-dots li button:before {
  color: #fff;
  font-size: 10px;
}

#about-us-section {
  background-color: #272726;
}

#about-us-section p,
#about-us-section h3 {
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 0.8px;
}

#about-us-section .founder-img {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: auto;
  border: 4px solid #d09a28;
  box-shadow: 1px 1px 20px 5px #000;
  overflow: hidden;
}

#about-us-section .founder-img-wrapper-guf {
  background-image: url("../images/founders/GUFRAN-KHAN.jpg");
}

#about-us-section .founder-img-wrapper-anant {
  background-image: url("../images/founders/ANANT-PANDEY.jpg");
}

#about-us-section h5,
#about-us-section h6 {
  text-shadow: 2px 4px black;
  color: #d09a28;
  text-align: center;
  margin: 20px 0;
  font-family: "Lato", sans-serif;
}

#contact-us-section {
  background-color: #000;
}

#contact-us-section .form-wrapper {
  width: 70%;
  margin: auto;
}

#contact-us-section .form-control {
  background-color: #000;
  color: #fff;
  border: 1px solid #d09a28;
  font-family: "Lato", sans-serif;
}

.form-floating > label,
label {
  color: #fff;
  font-family: "Lato", sans-serif;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.form-control:focus {
  border-color: #d09a28;
  box-shadow: 0 0 0 0.25rem #d09b285a;
}

.form-check-input {
  font-family: "Lato", sans-serif;
}

.form-check-input:checked {
  background-color: #d09a28;
  border-color: #d09a28;
}

.submit-btn {
  width: 100%;
  background-color: #d09a28;
  font-size: 20px;
  border: none;
  color: #000;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.submit-btn:hover,
.btn-primary:focus {
  background-color: #272726;
}

#footer-section {
  background-color: #272726;
}

#footer-section .footer-logo {
  width: 300px;
  margin: auto;
  text-align: center;
}

#footer-section .social-wrapper {
  display: grid;
  place-items: center;
}

#footer-section .social-wrapper h3,
#footer-section .social-wrapper p {
  color: #fff;
  text-shadow: 2px 4px black;
  text-align: center;
}

#footer-section .social-connect {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#footer-section .social-connect .fa-brands,
.fa-solid {
  color: #d09a28;
  font-size: 28px;
}
